.titulo {
   color: #92478c;
}

.option_btn.btn.btn-primary {
   background-color: #92478C;
   border: #161616;
}

.option_btn.btn.btn-primary:hover {
   background-color: white;
   color: #92478C;
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;
}