/* .btn {
   background-color: #92478C;
   color: white;
   border-color: #92478C;
} */

/* 
btn.btn-outline-light :hover {
   background: white !important;
   color: #92478C !important;
   cursor: pointer;
   transition: 0.5s;
}*/


.myboton {
   background-color: #92478C;
   color: white;
   border-color: #92478C;
}

myboton:hover {
   background-color: white;
   color: #92478C;
}

.card-title {
   color: #92478C;
}