ul li a{
    font-family: Bokor;
    font-size: 32px;
    margin: 83px;
    text-decoration: none;
}

.comoComprar {
    margin-left: 40px;
    margin-right: 40px;
}

.drop {
    width: 100% !important;
    background-color: #2D2D2D;
    border: none;
    border-radius: 0px;
}